@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  color: "black";
}

.icon-wrapper {
  display: inline-block;
  padding: 30%;
}

.eye-icon {
  color: black;
  transition: color 0.2s ease;
}

.icon-wrapper:hover .eye-icon {
  color: white;
}

.hover-navbar:hover {
  background-color: #ede8e8;
}

.click-drawer:active{
  background-color: #c8c3c3;
}